@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    background-color: #fefffd;
    font-family: 'Raleway', sans-serif;
}
h1 {
    color: #181f7f;
}
.navbar {
    background-image: linear-gradient(to right, #051937, #001c4b, #001d5e, #001c71, #0d1882);
}
.icon {
    height: 25px;
    width: 25px;
}
.arrow-left {
    height: 25px;
    
}
.error {
    color: red;
}
.profil-image {
    height: 10vh;
    border-radius: 40px;
    margin-right: 20px;
}
.logo-image {
    height: 16vh;
    margin-left: 20px;
}
.button-add {
    background: linear-gradient(to right, #051937, #001c4b, #001d5e, #001c71, #0d1882);
    box-shadow: 4px 4px 8px 1px #000000;
}
.arrow-left {
    color : #001d5e;
    height: 5vh;
    box-shadow: 4px 4px 8px 1px #000000;
}
.table-responsive {
    box-shadow: 6px 7px 20px 1px #000000;
}
.custom-thead {
    background: linear-gradient(to right, #051937, #001c4b, #001d5e, #001c71, #0d1882)!important;
    --bs-table-bg : linear-gradient(to right, #051937, #001c4b, #001d5e, #001c71, #0d1882)!important;
    /* color: white; Pour définir la couleur du texte en blanc */
}
.custom-tbody {
    background: #ebebf3;
    --bs-table-bg : #ebebf3;
}
.custom-table-text {
    color: #181f7f!important;
}
.shadow-table {
    box-shadow: 2px 2px 20px 0px #000000;
}
.card:hover {
    background-color: #F5F5F5; /* Change la couleur de fond au survol */
    transition: background-color 0.3s; /* Ajoute une transition en douceur */
}
.title-input {
    color: #181f7f!important;
}